/*****************
 *  Body/General *
 *****************/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    display: block;
}

h2 {
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    font-family: "Playfair Display";
    /* background-color: rgb(26, 26, 94); */
    /* border: 5px solid white; */
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

/*****************
 * Splash Image  *
 *****************/

#landing {
    /* background-attachment: fixed; */
    /* background-image: url(resources/shrimp_bg.jpg); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* margin-bottom: 100px; */
    position: relative;
    /* height: 75vh; */
    color: white;
    /* overflow: clip; */
}

#splash {
    position: absolute;
    top: 42%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    font-family: "Playfair Display";
    /* font-family: "Open Sans"; */
    /* font-weight: lighter; */
    font-weight: bold;
    text-align: center;
}

#splash h1 {
    font-size: 7vw;
    font-weight: normal;
}

#splash h2 {
    margin-top: -5%;
    font-size: 2.5vw;
    /* font-weight: lighter; */
    font-weight: normal;
    font-family: "Playfair Display";
}

#logo {
    position: absolute;
    text-align: center;
    font-size: 2.5vw;
    /* color: white; */
    /* margin-top: -100px; */
    width: 75%;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

img#bg {
    width: 100%;
    /* overflow: hidden;  */
    z-index: -1;
}

/******************************
 * Short Description of Group * 
 ******************************/

#desc {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 30px;
    /* max-width: 40%; */
}

#desc a:link {
    color: red;
}

.centered {
    padding-left: 0%;
    padding-right: 0%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .centered {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/*****************
 *     Shows     *
 *****************/

#shows {
    padding-bottom: 50px;
    overflow: auto;
    background-color: rgb(197, 93, 82);
    /* color: rgb(231, 203, 200); */
    color: white;
}

#shows img {
    float: left;
    /* display: inline-block; */
    width: 245px;
    /* z-index: -10; */
}

.showDesc {
    position: relative;
    padding-left: 300px;
    /* color: grey; */
}

.showDesc h3 {
    font-size: 1.75em;
    /* max-width: 250px; */
}

.showDesc p {
    font-size: 1.25em;
    /* max-width: 400px; */
}

.showInfo {
    white-space: pre-line;
    font-weight: bold;
}

.show {
    overflow: auto;
}

/************************
 *       About Us       *
 ************************/

.box {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.profile img {
    max-width: 139px;
    /* border-radius: 50%; */
    
    margin-left: -17px;
    float: left;
    position: relative;
    /* border: 1px solid yellow; */
    /* top: 20; */
}

.profileDesc {
    font-size: 1.25em;
    padding-left: 160px;
    height: 200px;
}

.profileDesc p {
    margin-top: -10px;
}

.profileDesc p b {
    /* Overrides the bold tags in orginal descriptions */
    font-weight: normal;
}

.year {
    font-size: 1.75em;
    font-weight: bold;
    color: grey;
}

.name {
    font-weight: bolder;
}

.title {
    font-weight: bold;
    font-size: .75em;
    color: grey;
    margin-top: -25px;
}

a:link.button {
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-decoration: none;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
}

/* Shutter Out Horizontal - from Hover.css */

.shutter {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 10px rgb(128, 0, 0, 0);
    /* box-shadow: 0 0 10px rgba(107, 88, 88, 0); */
    /* border: 2px solid maroon; */
    border-radius: 8px;
    position: relative;
    /* background: rgb(248, 224, 224); */
    color: maroon;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.shutter:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: crimson;
    /* background: #2098D1; */
    border-radius: 8px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.shutter:hover, .shutter:focus, .shutter:active {
    color: white;
}

.shutter:hover:before, .shutter:focus:before, .shutter:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 8px;
}

/************
 *  F.A.Q.  *
 ************/

#faq {
    background: rgb(231, 163, 37);
    color: maroon;
}

#faq h2 {
    margin-bottom: 10px;
}

#faq h3 {
    margin: 0px;
    font-size: 5em;
}

#faq h4 {
    font-weight: bold;
    margin-bottom: -15px;
}

#improv_faq, #shows_faq, #auditions_faq {
    /* max-width: 350px; */
    text-align: justify;
    text-justify: inter-word;
    flex: 0 1 auto;
}

/************
 *  Alumns  *
 ************/