/*****************
 *  Body/General *
 *****************/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    display: block;
}

h2 {
    font-size: 6em;
    /* background-color: rgb(26, 26, 94); */
    /* border: 5px solid white; */
}

/*****************
 * Splash Image  *
 *****************/

#landing {
    background-attachment: fixed;
    margin-bottom: 0;
}

#landing h1 {
    position: absolute;
    text-align: center;
    font-size: 6vw;
    color: white;
    font-family: "Open Sans";
    font-weight: lighter;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#landing h2 {
    position: absolute;
    text-align: center;
    font-size: 3vw;
    color: white;
    font-family: "Open Sans";
    font-weight: lighter;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

img#bg {
    width: 100%;
    /* overflow: hidden; 
    z-index: -1; */
}

/******************************
 * Short Description of Group * 
 ******************************/

#desc {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 30px;
    /* max-width: 40%; */
}

a:link {
    color: red;
}

.centered {
    padding-left: 15%;
    padding-right: 15%;
}

/*****************
 *     Shows     *
 *****************/

#shows {
    padding-bottom: 50px;
    overflow: auto;
    background-color: rgb(197, 93, 82);
    /* color: rgb(231, 203, 200); */
    color: white;
}

#shows img {
    float: left;
    /* display: inline-block; */
    width: 245px;
    /* z-index: -10; */
}

.showDesc {
    position: relative;
    padding-left: 300px;
    /* color: grey; */
}

.showDesc h3 {
    font-size: 1.75em;
    /* max-width: 250px; */
}

.showDesc p {
    font-size: 1.25em;
    max-width: 400px;
}

.showInfo {
    white-space: pre-line;
    font-weight: bold;
}

.show {
    overflow: auto;
}

/************************
 *       About Us       *
 ************************/

.box {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    /* max-width: 600px; */
}

.profile img {
    max-width: 139px;
    border-radius: 50%;
    float: left;
}

.profile {
    margin: 10px;
    flex: 0 1 550px;
    /* padding-right: 30px; */
}

.profileDesc {
    font-size:1.25em;
    padding-left: 200px;
}

.year {
    font-size: 1.75em;
    font-weight: bold;
    color: grey;
}

.name {
    font-weight: bolder;
}

.title {
    font-weight: bold;
    color: grey;
}